body {

}
.container {
  padding: 8rem 1.5rem;
  background-color: white;

}
/*Degradado*/
.starter-template{
  text-align: center;
  background: rgba(183,222,237,1);
  background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,0.96) 28%, rgba(33,180,226,0.88) 93%, rgba(0,172,238,0.87) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(28%, rgba(113,206,239,0.96)), color-stop(93%, rgba(33,180,226,0.88)), color-stop(100%, rgba(0,172,238,0.87)));
  background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,0.96) 28%, rgba(33,180,226,0.88) 93%, rgba(0,172,238,0.87) 100%);
  background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,0.96) 28%, rgba(33,180,226,0.88) 93%, rgba(0,172,238,0.87) 100%);
  background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,0.96) 28%, rgba(33,180,226,0.88) 93%, rgba(0,172,238,0.87) 100%);
  background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,0.96) 28%, rgba(33,180,226,0.88) 93%, rgba(0,172,238,0.87) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#00acee', GradientType=0 );
}

/********************/
/*  tweets view */
/*********************/
.tweet{
  background-color: white;
}
.tweet:hover{
  background-color: rgb(239, 243, 243);
}
.tweet .logoP{
  width: 32px;
  height: 32px;
  background: url('../../static/images/Positivo.png');
  background-size: 32px;
}
.tweet .logoN{
  width: 32px;
  height: 32px;
  background: url('../../static/images/Negativo.png');
  background-size: 32px;
}
.tweet .logoNeu{
  width: 32px;
  height: 32px;
  background: url('../../static/images/Neutro.png');
  background-size: 32px;
}
.tweet .idtweet {
	width: 32px;
	height: 32px;
    margin-left: 2.5rem;
}
/**********************/
/*      Formulario    */
/**********************/
.categorias-array-model-field td [type="checkbox"], .categorias-array-model-field th [for$=DELETE]{
display: none;
}
.categorias-array-model-field{
  margin: 0 auto;
}


/**********************/
/*     Cate_Detail      */
/**********************/
.catedetail-foto{
  background-image: url("../../static/images/fondoansen.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/**********************/
/*     Tema_list      */
/**********************/
.tema-foto{
  background-image: url("../../static/images/fondoansen.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.tweet-foto{
  background-image: url("../../static/images/fondoansen.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/**********************/
/*     Tema_Detail      */
/**********************/
.temadetail-foto{
  background-image: url("../../static/images/fondoansen.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/***************************/
/*     Tema_DashBoard      */
/***************************/
.temadash-foto{
  background-image: url("../../static/images/fondoansen.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/**********************/
/*  Pagina de inicio  */
/**********************/
.sent-foto{
  background-image: url("../../static/images/fondoansen.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.maintexto{
  color: black;
  text-shadow: -1px 0 white, 0 1px white,1px 0 white, 0 -1px white;
  text-align: center;
  padding: 8rem 1.5rem;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.twitter-foto{
  background-image: url("../../static/images/LogoPaginaSinFondo.png");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/**********************/
/*       NAVBAR       */
/**********************/

.navbar{
  background-color: #004F6D !important;
}
.navbar .navbar-brand{
   color: white;
}
.navbar .navbar-nav{
  margin: 0 auto;
}
.navbar .nav-item a{
  color: white !important;
}
.navbar .nav-item a:hover{
  color: #00acee !important;
}


/**********************/
/*       Login        */
/**********************/

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/**********************/
/*       Sidebar      */
/**********************/

.h2 {
  padding-top: 3rem;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  padding-top: 5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}






