
{% extends 'base.html' %}


{% block content %}
    <div class="container">
    <p>
    <h4>
        TEMA: {{ tema }}
    </h4>
    </p>
    <p>
    <h5>
        CATEGORÍA: {{ categoriaN }}
    </h5>
    </p>

    <p>
    <div class="row">
        <div class="col">
            <p><h6>HISTÓRICA</h6></p>
            <p><div class="row">
                <div class="col">
                    <p>Configurar búsqueda</p>
                </div>
                <div class="col">
                    <a href="{% url 'confi-busqueda-view' tema.pk categoriaN 1 %}" class="list-group-item list-group-item-action"> Histórica</a>
                </div>
            </div></p>

        </div>
        <div class="col">
            <p><h6>ACTUAL</h6></p>
            <p><div class="row">
                <div class="col">
                    <p>Configurar búsqueda</p>
                </div>
                <div class="col">
                    <a href="{% url 'confi-busqueda-view' tema.pk categoriaN 2 %}" class="list-group-item list-group-item-action"> Actual </a>
                </div>
            </div></p>

        </div>

    </div>
    </p>

    </div>
{% endblock %}

