
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
    <p>
    <h4>
        TEMA: {{ tema }}
    </h4>
    </p>
    <p>
    <h5>
        CATEGORÍA: {{ categoria }}
    </h5>
    </p>
    <p>
    <h6>
        Configurando busqueda: {{ tipo }}
    </h6>
    </p>

    <form id="formConfig" method="post">
        {% csrf_token %}
        {{ formulario.numeroTweets|as_crispy_field }}
        {% if tipo == 'historico' %}
            <p>Introducir las fechas de inicio y fin de recolección</p>

            {{ formulario.fechaInicio|as_crispy_field }}

            {{ formulario.fechaFin|as_crispy_field }}
        {% elif tipo == 'actual' %}
            <p>La fecha a introducir indica hasta que fecha recolectar</p>
            {{ formulario.fechaFin|as_crispy_field }}
        {% endif %}
        {{ formulario.maquinaAnalisis|as_crispy_field }}
        <button type="submit" class="btn btn-primary">Guardar</button>

    </form>
    </div>
{% endblock %}

