
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Analisis Tematico | Analizador - {{ tema }} {{ categoria }} {{ tipo }}</title>{% endblock %}

{% block content %}
    <div class="container">
    <p>
    <h4>
        TEMA: {{ tema }}
    </h4>
    </p>
    <p>
    <h5>
        CATEGORÍA: {{ categoria }}
    </h5>
    </p>
    <p>
    <h6>
        Configurando busqueda: {{ tipo }}
    </h6>
    </p>

    <form id="formConfig" method="post">
        {% csrf_token %}
        {% if tipo == 'historico' %}

            {{ formulario.numeroTweets|as_crispy_field }}

            <p>Introducir las fechas de inicio y fin de recopilación</p>

            {{ formulario.fechaInicio|as_crispy_field }}

            {{ formulario.fechaFin|as_crispy_field }}
            {{ formulario.maquinaAnalisis|as_crispy_field }}

        {% elif tipo == 'actual' %}
            <p>La fecha a introducir indica hasta que fecha recopilar</p>
            {{ formulario.fechaFin|as_crispy_field }}
        {% endif %}
        <button type="submit" class="btn btn-primary">Guardar</button>

    </form>
    </div>
{% endblock %}

