
{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <p><h3>Guardada la búsqueda sobre:</h3></p>

    <h4>
        <p>TEMA: {{ tema }}</p>
        <p>Palabras clave del tema: {{ palabrasClaveTema }}</p>
    </h4>


    <h5>
        <p>CATEGORÍA: {{ categoria }}</p>
        <p>Palabras clave de la categoría: {{ palabrasClaveCate }}</p>

    </h5>

    <p>
    <h6>
        Configurando busqueda: {{ tipo }}
    </h6>
    </p>
    <p>
    <h6>
        Números de tweets a recolectar: {{ numTw }}
    </h6>
    </p>
    <p>
    <h6>
        {% if tipo == 'historico' %}
            Desde la fecha:
        {% elif tipo == 'actual' %}
            Hasta fecha de recolección:
        {% endif %}
            {{ fecha }}
    </h6>
    </p>
    <p>
    <h6>
        Tipo de análisis: {{ maquinaA }}
    </h6>
    </p>

    <p>Vuelva a la herramienta <a href="{% url 'tema-list-view' %}">analizador</a></p>

    </div>

{% endblock %}

