
{% extends 'base.html' %}

{% block title %}<title>Analisis Tematico | Analizador - {{ tema }} {{ categoria }} Actual</title>{% endblock %}

{% block content %}
    <div class="container">
    <p><h3>Guardada la búsqueda sobre:</h3></p>

    <h4>
        <p>TEMA: {{ tema }}</p>
        <p>Palabras clave del tema: {{ palabrasClaveTema }}</p>
    </h4>


    <h5>
        <p>CATEGORÍA: {{ categoria }}</p>
        <p>Palabras clave de la categoría: {{ palabrasClaveCate }}</p>

    </h5>

    <p>
    <h6>
        Configurando busqueda: Actual
    </h6>
    </p>

    <p>
    <h6>
        Fecha fin de la recolección: {{ fechaFin }}
    </h6>
    </p>


    <p>Vuelva a la herramienta <a href="{% url 'tema-list-view' %}">analizador</a></p>

    </div>

{% endblock %}

