
{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Analisis Tematico | Tareas</title>{% endblock %}

{% block content %}
     <div class="container">

            <div>
                <h3>Procesos no invocados</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Parámetros</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tarea in tareas %}
                            {% if completa.task_name == 'herramienta.tasks.actual' %}
                                <tr>
                                    <td>Tarea búsqueda Actual</td>
                                    <td>{{ completa.task_params }}</td>
                                </tr>
                            {% elif completa.task_name == 'herramienta.tasks.historico' %}
                                <tr>
                                    <td>Tarea búsqueda Histórica</td>
                                    <td>{{ completa.task_params }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div>
                <h3>Procesos Terminados</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Parámetros</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for completa in completas %}
                            {% if completa.task_name == 'herramienta.tasks.actual' %}
                                <tr>
                                    <td>Tarea búsqueda Actual</td>
                                    <td>{{ completa.task_params }}</td>
                                </tr>
                            {% elif completa.task_name == 'herramienta.tasks.historico' %}
                                <tr>
                                    <td>Tarea búsqueda Histórica</td>
                                    <td>{{ completa.task_params }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>


     </div>
{% endblock %}

