{% extends 'base.html' %}

{% block title %}<title>Analisis Tematico | Analizador - DashBoard {{ tema }}</title>{% endblock %}

{% block content %}


    <!--Menu lateral-->

    <div class="row">
        <nav class="col-md-2 d-md-block {#bg-light#} sidebar" style="background-color: #004F6D;">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span><div class="btn-group">
                            <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false" style="color: white!important;">
                                {{ tipo }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" type="button" href="{% url 'tema-grGeneral-view' tema.pk 2 %}">Actual</a>
                                <a class="dropdown-item" type="button" href="{% url 'tema-grGeneral-view' tema.pk 1 %}" >Histórico</a>
                                <a class="dropdown-item" type="button" href="{% url 'tema-grGeneral-view' tema.pk 3 %}" >Actual vs histórico</a>
                            </div>
                        </div></span>
                    </h6>
                    <li class="nav-item">
                        <a style="color: white!important;" class="nav-link d-flex" href="{% url 'tema-grGeneral-view' tema.pk nTipo %}">General</a>
                    </li>
                    {% for categoria in categorias %}
                        <li class="nav-item">
                            <a class="nav-link d-flex" style="color: white!important;"
                               href="{% url 'tema-graficas-view' tema.pk nTipo categoria %}">{{ categoria.nombre }}</a>
                        </li>
                    {% endfor %}
                    <li class="nav-link">
                        <a style="color: white!important;" class="nav-link d-flex" href="{% url 'tema-detalle-view' tema.pk %}" >Volver al tema {{ tema }} </a>
                    </li>

                </ul>
            </div>

        </nav>


        <!--Contenido de la página-->

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2" style="color: black;text-shadow: -1px 0 white, 0 1px white,1px 0 white, 0 -1px white;">{{ tema }} General</h1>

            </div>
            {% if tipo == 'Actual vs Histórico' %}
                <div class="row">
                    <div class="col-lg-auto">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>Tweets Actuales: {{ cantidadTotal }}</p>
                            <p>Tweets Históricos: {{ cantidadTotalH }}</p>
                        </div>
                    </div>

                    <div class="col">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>Array con el valor Negativo, Positivo y Neutro</p>
                            <p>Gráfica Actual: {{ data }}</p>
                            <p>Gráfica Histórico: {{ dataHist }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>A continuación, se puede observar ambas gráficas con el porcentaje que se calcula
                            con el número total de tweets y la cantidad de cada polaridad que se han recolectado.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <canvas class="my-4" id="myChart5" width="25" height="25" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
                    </div>

                    <div class="col">
                        <canvas class="my-4" id="myChart6" width="25" height="25" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
                    </div>
                </div>

                <canvas class="my-4" id="myChart7" width="900" height="380"  style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>

            {% else %}
                <div class="row">
                    <div class="col-lg-auto">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>Tweets:</p>
                            <p> {{ cantidadTotal }}</p>
                        </div>
                    </div>

                    <div class="col">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>Array con el valor Negativo, Positivo y Neutro</p>
                            <p>Gráfica: {{ data }}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>A continuación, se puede observar la gráfica con el porcentaje que se calcula
                            con el número total de tweets y la cantidad de cada polaridad que se han recolectado.</p>
                        </div>
                    </div>
                </div>
                <canvas class="my-4" id="myChart" width="900" height="380" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
                <canvas class="my-4" id="myChart2" width="900" height="380" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
                <canvas class="my-4" id="myChart3" width="900" height="380" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
            {% endif %}
          </div>

        </main>
    </div>

    <script>
        if ("{{ tipo }}" == 'Actual vs Histórico') {
            //////Actual-Historico/////////////
            var ctx = document.getElementById('myChart5').getContext('2d');
            var myChart5 = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Negativo', 'Positivo', 'Neutro'],
                    datasets: [{
                        data: {{data|safe}},
                        backgroundColor: ["#FF4136", "#0074D9", "#A2EEC6"]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Porcentaje opiniones actual',
                    },
                    legend: {
                        disblay: true,
                        position: 'right',
                        labels: {
                            fontColor: '#000'
                        }
                    }
                }
            });
            var ctx = document.getElementById('myChart6').getContext('2d');
            var myChart6 = new Chart(ctx, {
                type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

                data: {
                    labels: ['Negativo', 'Positivo', 'Neutro'],
                    datasets: [{
                        data: {{dataHist|safe}},
                        backgroundColor: ["#FF4136", "#0074D9", "#A2EEC6"]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Porcentaje opiniones historico',
                    },
                    legend: {
                        disblay: true,
                        position: 'right',
                        labels: {
                            fontColor: '#000'
                        }
                    }
                }
            });
            var ctx = document.getElementById('myChart7').getContext('2d');
            var myChart7 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ fechas|safe }},
                    datasets: [{
                        data: {{ valoresAct|safe }},
                        label: 'Actual',
                        borderColor: "#cd4ccb",
                        fill: false
                    },{
                        data: {{ valoresHist|safe }} ,
                        label: 'Historico',
                        borderColor: "#ff8610",
                        fill: false
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Evolución de la opinión por días'
                    }
                }
            });
        }else {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',

                data: {
                    labels: ['Positivo', 'Negativo', 'Neutro'],
                    datasets: [{
                        data: {{data|safe}},
                        backgroundColor: ["#0074D9", "#FF4136", "#A2EEC6"]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Porcentaje opiniones generales sobre {{ tema|safe }}',
                    },
                    legend: {
                        disblay: true,
                        position: 'right',
                        labels: {
                            fontColor: '#000'
                        }
                    }

                }


            });

            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            function dataSets(diccionario) {
                var sol = []
                var solT = []

                for (let i in diccionario) {
                    solT = {
                        data: diccionario[i],
                        label: i,
                        borderColor: getRandomColor(),
                        fill: false
                    }
                    console.log(solT)
                    sol.push(solT)
                }
                console.log(sol)
                return sol
            }

            var ctx = document.getElementById('myChart3').getContext('2d');
            var myChart3 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ fechas|safe }},
                    datasets:
                        dataSets({{ labels|safe }})
                    ,
                },
                options: {
                    title: {
                        display: true,
                        text: 'Evolución de la opinión por días'
                    }
                }
            });
            ////////////////
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart2 = new Chart(ctx, {
                type: 'bar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

                data: {
                    labels: {{ labelsCat|safe }},
                    datasets: [
                        {
                            label: 'Positivo',
                            data: {{ labelsPos|safe }},
                            backgroundColor: '#0074D9',
                        },
                        {
                            label: 'Negativo',
                            data: {{ labelsNeg|safe }},
                            backgroundColor: '#FF4136',
                        },
                        {
                            label: 'Neutro',
                            data: {{ labelsNeu|safe }},
                            backgroundColor: '#A2EEC6',
                        }
                    ]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: 'Porcentaje de polaridad por cada categoría'
                    }
                }


            });
        }
    </script>
{% endblock %}

