
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Analisis Tematico | Analizador - Crear Tema</title>{% endblock %}

{% block content %}



    <div class="container">

         <div class="tema-foto">
            <div class="maintexto">
                <h1>Creando un nuevo Tema</h1>
            </div>
         </div>

        <p style="margin-top: 2rem">{% crispy form %}</p>
        <p>Si necesita conocer opinión general del tema y no por categoría, cree una categoría con la palabra reservada 'GENERAL'</p>
    </div>

{% endblock %}

