{% extends 'base.html' %}

{% block title %}<title>Analisis Tematico | Analizador - {{ tema }}</title>{% endblock %}

{% block content %}



    <div class="container">
        <h1>
            TEMA: {{ tema }}
        </h1>

        <div class="row" style="padding: 5rem 1.5rem;">
            <div class="col">
                <div class="list-group">
                        <h5>
                        Categorias:
                        </h5>
                        {% comment %}
                        Esta es una lista de los temas que hay en la base de datos
                        {% endcomment %}
                        {% for categoria in tema.categorias %}

                            <a href="{% url 'categoria-detalle-view' tema.pk categoria.nombre %}"
                               class="list-group-item list-group-item-action"> {{ categoria }} </a>

                        {% endfor %}

                    </div>
            </div>
            <div class="col">
                    <h5>Modificar</h5>
                    <p class="text-justify">En esta opción permite la modificación de las palabras clave del tema {{ tema }} para realizar
                    una búsqueda más exhaustiva. También permite añadir nuevas categorías. Si se desea buscar opiniones
                    generales del tema, sin querer caracterizar la búsqueda dentro de una categoría, use la palabra clave
                    "GENERAL".</p>
                    <h6>
                            <a href="{% url 'tema-edit-view' tema.pk %}" class="list-group-item list-group-item-action">
                                Editar {{ tema }}</a>
                    </h6>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="categoriadetail-foto">
            <div class="maintexto">
                <h1>Pero,</h1>
                <h1>¿Qué es una Categoría?</h1>
            </div>
        </div>
        <p class="text-justify" style="padding: 5rem 1.5rem;">Una cartegoría permite al usuario diferenciar y caracterizar la búsqueda interna
                        de cada tema que el usuario ha seleccionado anteriormente. Puede realizar un análisis
                        por separado de cada una de ellas o una vez hecho de cada una por separado tener un análisis en común. Para ello,
                        es necesario ir al apartado de DashBoard.
        </p>

    </div>

    <div class="container">
        <div class="temadash-foto">
            <div class="maintexto">
                <h1>DashBoard</h1>
            </div>
        </div>
        <p class="text-justify" style="padding: 5rem 1.5rem;">A través de este apartado, se puede visualizar los datos que se han recopilado sobre
            el tema {{ tema }}, se puede observar cada opinión de las categorías que se han creado seleccionandolas dentro del dashboard. Otra
            opción que permite, es la visualización de los datos dependiendo de la búsqueda realizada, seleccionando "actual", "histórica" o "actual vs
            histórica"
        </p>
        <a href="{% url 'tema-grGeneral-view' tema.pk 2 %}"class="list-group-item list-group-item-action"> Visualizar </a>

    </div>


{% endblock %}

