
{% extends 'base.html' %}


{% block content %}


    <h4>
        TEMA: {{ tema }}
    </h4>
    <h5>
        Categorias
    </h5>
    <div class="list-group">

            {% comment %}
                Esta es una lista de los temas que hay en la base de datos
            {% endcomment %}
            {% for categoria in tema.categorias %}

                <a  href="{% url 'categoria-detalle-view' tema.pk categoria.nombre %}" class="list-group-item list-group-item-action"> {{ categoria }} </a>

            {% endfor %}

    </div>

    <div class="container">

       <h6>
             <a href="{% url 'tema-edit-view' tema.pk %}" class="list-group-item list-group-item-action"> Editar {{ tema }}</a>
       </h6>


    </div>
{% endblock %}

