{% extends 'base.html' %}

{% block title %}<title>Analisis Tematico | Analizador</title>{% endblock %}

{% block content %}
    <div class="container">

        <h1>Temas:</h1>
        <div class="list-group">

            {% comment %}
            Esta es una lista de los temas que hay en la base de datos
            {% endcomment %}
            {% for tema in tema_list %}

                <a href="{% url 'tema-detalle-view' tema.pk %}"
                   class="list-group-item list-group-item-action"> {{ tema }} </a>

            {% endfor %}

        </div>
     </div>

    <div class="container">
         <div class="tema-foto">
            <div class="maintexto">
                <h1>Pero,</h1>
                <h1>¿Qué es un Tema?</h1>
            </div>
        </div>
        <p class="text-justify" style="padding: 5rem 1.5rem;">Un Tema es una caracterización de la búsqueda de Tweets. Se puede crear un
        tema para conocer la opinión que se tiene sobre él, en el mundo de la red social Twitter. Cuando se desarrolla
        el tema, el usuario introduce el nombre del tema que va a crear y, a su vez, introduce una lista de palabras clave
        que indican los posibles nombres por los que se puede encontrar referenciado.</p>
        <h4>¿Necesitas crear un Tema? Utilice este botón.</h4>
        <a href="{% url 'tema-create-view' %}" class="list-group-item list-group-item-action">Crear </a>

    </div>



{% endblock %}

