{% extends 'base.html' %}

{% block title %}<title>Analisis Tematico | Analizador - DashBoard {{ tema }}</title>{% endblock %}

{% block content %}


    <!--Menu lateral-->

    <div class="row">
        <nav class="col-md-2 d-md-block {#bg-light#} sidebar" style="background-color: #004F6D;">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span><div class="btn-group">
                            <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false" style="color: white!important;">
                                {{ tipo }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" type="button" href="{% url 'tema-grGeneral-view' tema.pk 2 %}">Actual</a>
                                <a class="dropdown-item" type="button" href="{% url 'tema-grGeneral-view' tema.pk 1 %}" >Histórico</a>
                                <a class="dropdown-item" type="button" href="{% url 'tema-grGeneral-view' tema.pk 3 %}" >Actual vs histórico</a>
                            </div>
                        </div></span>
                    </h6>
                    <li class="nav-item">
                        <a style="color: white!important;" class="nav-link d-flex" href="{% url 'tema-grGeneral-view' tema.pk nTipo %}">Comparativa</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white!important;" class="nav-link d-flex" href="{% url 'tema-graficas-view' tema.pk nTipo "general"%}">General</a>
                    </li>
                    {% for categoria in categorias %}
                        {% if categoria.nombre != 'general' %}
                        <li class="nav-item">
                            <a class="nav-link d-flex" style="color: white!important;"
                               href="{% url 'tema-graficas-view' tema.pk nTipo categoria %}">{{ categoria.nombre }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <li class="nav-link">
                        <a style="color: white!important;" class="nav-link d-flex" href="{% url 'tema-detalle-view' tema.pk %}" >Volver al tema {{ tema }} </a>
                    </li>

                </ul>
            </div>

        </nav>


        <!--Contenido de la página-->

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2" style="color: black;text-shadow: -1px 0 white, 0 1px white,1px 0 white, 0 -1px white;">{{ tema }} Comparativa de Categorías</h1>
                <a class="nav-link d-flex" style="color: white!important;" href="{% url 'tweets-view' tema.pk nTipo 'General' %}" > Ver tweets </a>
            </div>
            {% if tipo == 'Actual vs Histórico' %}
                <div class="row">
                    <div class="col-lg-auto">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>Tweets Actuales: {{ cantidadTotal }}</p>
                            <p>Tweets Históricos: {{ cantidadTotalH }}</p>
                        </div>
                    </div>

                    <div class="col">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>Array con el valor Negativo, Positivo y Neutro</p>
                            <p>Gráfica Actual: {{ data }}</p>
                            <p>Gráfica Histórico: {{ dataHist }}</p>
                        </div>
                    </div>

                </div>
                <p class="text-justify">Obsérvese las graficas conseguidas a través de la recolección de los tweets sobre
            el tema {{ tema }}. Se observan dos gráficas de forma de tarta, una correspondiente
            a los datos que se recolectan usando la búsqueda actual usando la función streaming() de la
            API de Twitter y la siguiente representa a los recolectados con la búsqueda histórica
            con la función search(). Para represetar el porcentaje de de cada una de ellas, se recoge el
            total de tweets que representa el 100%, una vez hecho esto, se calcula el porcentaje
            que representa a cada polaridad y así, tener una visión de cuál es la opinión que más
            destaca sobre el tema. Si el número de porcentaje de positivo es mayor que los otros dos,
                se puede concluir que el tema {{ tema }} tiene una opinión general positiva. Se pueden observar
                la  diferencia que se obtiene dependiendo de la búsqueda utilizada.</p>
                <div class="row">
                    <div class="col">
                        <canvas class="my-4" id="myChart5" width="25" height="25" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
                    </div>

                    <div class="col">
                        <canvas class="my-4" id="myChart6" width="25" height="25" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
                    </div>
                </div>
                <p class="text-justify">Esta gráfica permite la visualización de la evolución de la opinión que ha tenido el
            tema {{ tema }} a lo largo del tiempo de búsqueda que se ha realizado, se observan dos
            líneas, una representando la búsqueda actual y otra la búsqueda histórica. Para realizar
            esta gráfica, se ha conseguido gracias a que se obtiene la fecha en la que se publicó el tweet
            recolectado y se calcula una media aritmetica de los tweets que se publicaron el mismo día.
            Así, se obtiene la evolución de la opinión. Esto sirve para conocer en que momento se aumentó
            o disminuyó la positividad o negatividad de las opiniones y así poder conocer a que se debe. Si
            en el tema {{ tema }} hubo una modificación de algo un día concreto, si la opinión positiva crece
            a partir de ese día, se puede conocer que ese cambio ha sido bueno y se debe de seguir en esa línea,
            si es al contrario y se obtiene mayor número de tweets de polaridad negativa, se conoce la
                 consecuencia directa de ese descontento.</p>
                <canvas class="my-4" id="myChart7" width="900" height="380"  style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>

            {% else %}
                <div class="row">
                    <div class="col-lg-auto">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>Tweets:</p>
                            <p> {{ cantidadTotal }}</p>
                        </div>
                    </div>

                    <div class="col">
                        <div style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);">
                            <p>Array con el valor Negativo, Positivo y Neutro</p>
                            <p>Gráfica: {{ data }}</p>
                        </div>
                    </div>
                </div>
                <p class="text-justify">Obsérvese la grafica conseguida a través de la recolección de los tweets sobre
            el tema {{ tema }}. Se observan una gráfica PIE, correspondiente a los datos que se han recolectado a
                    través del tipo de busqueda {{ tipo }}. Para represetar el porcentaje, se recoge el
            total de tweets que representa el 100%, una vez hecho esto, se calcula el porcentaje
            que representa a cada polaridad y así, tener una visión de cuál es la opinión que más
            destaca sobre el tema. Si el número de porcentaje de positivo es mayor que los otros dos,
                se puede concluir que el tema {{ tema }} tiene una opinión general positiva</p>
                <canvas class="my-4" id="myChart" width="900" height="380" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
                <p class="text-justify">La siguiente grafica, es una gráfica de barras que representa
                las polaridades de las categorías que se han recogido sobre el tema {{ tema }}. Esto permite
                observar desde una sola vista, cual es la representación de la opinión de cada categoría y así
                conocer cuál es la que mejor según la opinión que tienen los usarios de Twitter. Gracias a esto,
                si el usuario estaba en duda entre alguna categoría para seleccionar una de ellas como la mejor
                opción, puede ayudarse gracias a la opinión que se ha tenido. Si todas las categorías tienen como
                mayor porcentaje el positivo, también se observa el diferente porcentaje de cada una de ellas y
                así conocer cuál es el número al que representa respecto a la totalidad.</p>
                <canvas class="my-4" id="myChart2" width="900" height="380" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
                <p class="text-justify">Esta gráfica permite la visualización de la evolución de la opinión que ha tenido el
            tema {{ tema }} a lo largo del tiempo de búsqueda que se ha realizado, se observan diferentes
            líneas, cada una representa una categoría diferente, se puede observar que cada una tiene un color diferente
                    y se puede ver cual es la que representa. Para realizar
            esta gráfica, se ha conseguido gracias a que se obtiene la fecha en la que se publicó el tweet
            recolectado y se calcula una media aritmetica de los tweets que se publicaron el mismo día y a la categoría a la que pertenece.
            Así, se obtiene la evolución de la opinión. Esto sirve para conocer en que momento se aumentó
            o disminuyó la positividad o negatividad de las opiniones y así poder conocer a que se debe. Se puede
                ver con mayor perspectiva si afecta directamente las opiniones entre las categorías que hay en el tema.</p>
                <canvas class="my-4" id="myChart3" width="900" height="380" style="background-color: white; box-shadow: 0 5px 15px rgba(0,0,0,.5);"></canvas>
            {% endif %}
          </div>

        </main>
    </div>

    <script>
        if ("{{ tipo }}" == 'Actual vs Histórico') {
            //////Actual-Historico/////////////
            var ctx = document.getElementById('myChart5').getContext('2d');
            var myChart5 = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Negativo', 'Positivo', 'Neutro'],
                    datasets: [{
                        data: {{data|safe}},
                        backgroundColor: ["#FF4136", "#0074D9", "#A2EEC6"]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Porcentaje opiniones actual',
                    },
                    legend: {
                        disblay: true,
                        position: 'right',
                        labels: {
                            fontColor: '#000'
                        }
                    }
                }
            });
            var ctx = document.getElementById('myChart6').getContext('2d');
            var myChart6 = new Chart(ctx, {
                type: 'pie',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

                data: {
                    labels: ['Negativo', 'Positivo', 'Neutro'],
                    datasets: [{
                        data: {{dataHist|safe}},
                        backgroundColor: ["#FF4136", "#0074D9", "#A2EEC6"]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Porcentaje opiniones historico',
                    },
                    legend: {
                        disblay: true,
                        position: 'right',
                        labels: {
                            fontColor: '#000'
                        }
                    }
                }
            });
            var ctx = document.getElementById('myChart7').getContext('2d');
            var myChart7 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ fechas|safe }},
                    datasets: [{
                        data: {{ valoresAct|safe }},
                        label: 'Actual',
                        borderColor: "#cd4ccb",
                        fill: false
                    },{
                        data: {{ valoresHist|safe }} ,
                        label: 'Historico',
                        borderColor: "#ff8610",
                        fill: false
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Evolución de la opinión por días'
                    }
                }
            });
        }else {
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',

                data: {
                    labels: ['Positivo', 'Negativo', 'Neutro'],
                    datasets: [{
                        data: {{data|safe}},
                        backgroundColor: ["#0074D9", "#FF4136", "#A2EEC6"]
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Porcentaje opiniones generales sobre {{ tema|safe }}',
                    },
                    legend: {
                        disblay: true,
                        position: 'right',
                        labels: {
                            fontColor: '#000'
                        }
                    }

                }


            });

            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            function dataSets(diccionario) {
                var sol = []
                var solT = []

                for (let i in diccionario) {
                    if(i != "general") {
                        solT = {
                            data: diccionario[i],
                            label: i,
                            borderColor: getRandomColor(),
                            fill: false
                        }
                        sol.push(solT)
                    }
                    console.log(solT)

                }
                console.log(sol)
                return sol
            }

            var ctx = document.getElementById('myChart3').getContext('2d');
            var myChart3 = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ fechas|safe }},
                    datasets:
                        dataSets({{ labels|safe }})
                    ,
                },
                options: {
                    title: {
                        display: true,
                        text: 'Evolución de la opinión por días'
                    }
                }
            });
            ////////////////
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myChart2 = new Chart(ctx, {
                type: 'bar',// bar, horizontalBar, pie, line, doughnut, radar, polarArea

                data: {
                    labels: {{ labelsCat|safe }},
                    datasets: [
                        {
                            label: 'Positivo',
                            data: {{ labelsPos|safe }},
                            backgroundColor: '#0074D9',
                        },
                        {
                            label: 'Negativo',
                            data: {{ labelsNeg|safe }},
                            backgroundColor: '#FF4136',
                        },
                        {
                            label: 'Neutro',
                            data: {{ labelsNeu|safe }},
                            backgroundColor: '#A2EEC6',
                        }
                    ]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: 'Porcentaje de polaridad por cada categoría'
                    }
                }


            });
        }
    </script>
{% endblock %}

